.app {
    display: flex;
    overflow-y: none;
    flex-direction: column;
    background-image: url(https://cdn.midjourney.com/2e7beb9f-31de-402a-8551-8e861597e9fc/grid_0.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center -200px;
    height: 100vh;
    /* background: red; */
    width: 100vw;
    justify-content: space-between;
    .debug {
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        height: 100px;
        background: #383838;
        color: white;
        padding: 4px;
        z-index: 999999999;
        border: solid 1px #ffffff36;
        margin-bottom: 10px;
        box-shadow: 0px -16px 20px 5px black;
        overflow-y: scroll;
    }

    .light-menu-grad {
        background-image: linear-gradient(
            174deg,
            rgba(0, 0, 0, 0.7490196078) 0%,
            rgba(0, 0, 0, 0) 25%,
            rgba(34, 34, 34, 0.8) 100%
        ) !important;
        mix-blend-mode: screen;
    }

    .menuContainer {
        display: flex;
        justify-content: space-between;
        .ui.menu {
            width: 100%;
            margin: 20px;
            box-shadow: -1px 5px 20px 0px black;
        }
    }

    .modal {
        z-index: 1;
        position: absolute;
        width: 100vw;
        top: 0;
        bottom: 0;
        background: #000000a8;
        height: 100%;
        .task-detail {
            border: solid 1px #aaaaaa;
            position: relative;
            width: 100%;
            max-width: 390px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            background: linear-gradient(357deg, #615b5b, #eaeaea 536px);
            z-index: 1;
            margin-top: 100px;
            height: -moz-fit-content;
            height: fit-content;
            padding: 10px;
            box-shadow: 5px 9px 20px 6px black;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            flex-direction: column;
            align-content: space-around;
        }
    }
}
