.cover {
  position: absolute;
  width: 100vw;

  .hide {
    animation: fade 1s forwards;
    transition: opactiy 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  > div.modal {
    z-index: 1;
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100vh;
    background-image: repeating-linear-gradient(0deg, #aeaeae, #636363 505px);
    z-index: 2;
  }

  > div.modal.hide {
    z-index: 1;
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100vh;
    background-image: repeating-linear-gradient(0deg, #aeaeae, #636363 505px);
    z-index: 2;
    animation: fade cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .greeting {
    padding: 40px;
    display: flex;
    position: absolute;
    /* margin: 150px 0 0 30%; */
    left: 30%;
    right: 30%;
    top: 120px;
    opacity: 1;
    max-width: 650px;
    display: flex;
    color: #949ba5;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    zoom: 1;
    z-index: 9;
   // box-shadow: -2px 20px 60px 10px black;
  }
  .hoverable {
    box-shadow: 0 0 0 0 transparent;
    padding: 0px;
    color: unset;
    border-radius: 0;
    background-image: linear-gradient(341deg, transparen t, transparent);
    text-shadow: 0 0 transparent;
    transition: all 0.5s ease-in-out;
  }
  .hoverable:hover {
    box-shadow: -2px 1px 30px 13px #909090;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(341deg, #848484, transparent);
    text-shadow: 3px 3px 10px black;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .hide {
    padding: 40px;
    display: flex;
    position: absolute;
    margin: 120px 0 0 25%;
    left: 0;
    right: 0;
    display: grid;
    opacity: 0;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    transition: all 0.5s ease-in-out;
    zoom: 1.2;
    animation: fade 5s infinite;
  }

  @keyframes open {
    0% {
      opacity: 1;
      background: inherit;
    }
    100% {
      opactiy: 0;
      background: transparent;
    }
  }

  @keyframes fade {
    0% {
      opacity: 1;
      background: inherit;
    }
    100% {
      opactiy: 0;
      background: transparent;
    }
  }
}

.topLevel {
  z-index: 9;
  position: absolute;
}

.login-form {
  background-image: linear-gradient(
    222deg,
    rgba(255, 255, 255, 0.45),
    rgba(157, 157, 157, 0.465),
    rgba(255, 255, 255, 0.529) 768px
  ) !important;
  padding: 4px;
  border-radius: 4px;
  border: 1px dashed rgba(84, 84, 84, 0.2784313725);
  box-shadow: 3px 3px 5px black;

  text-shadow: 1px 1px 1px rgb(175 172 172);
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: traqnsparent !important;
  margin-top: 200px;
  min-height: 150px !important;
  max-height: 400px;
  min-width: 280px;
  max-width: 500px;
  width:400px

  h4 {
    color: red;
    font-weight: 700;
  }

  .ui.header.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #eddcd1, white);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
  }

  section {
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 5px;
    padding: 10px;
    div {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      .ui .input {
        margin: 5px;
      }
      div {
        background: rgb(214 214 214 / 94%);
        margin: 1px;
      }
    }
  }
}

$background: #222;
$leftFace: #D53A33;
$rightFace: #E79C10;
$topFace: #1d9099;
$scale: 1;
$duration: 3s;
$timingFunction: ease;

body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:100vw;
  margin:0;
  padding:0;
  background:$background;
}

.container {
  position:relative;
  height:100px;
  width:86px;
  transform:scale(#{$scale * .5});
}

.cube {
  position:absolute;
  width:86px;
  height:100px;
}

.right {
  background:$rightFace;
  transform: rotate(-30deg) skewX(-30deg) translate(49px, 65px) scaleY(0.86);
}

.left {
  background:$leftFace;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.86) translate(25px, -50px);
}

.top {
  background:$topFace;
  transform: rotate(210deg) skew(-30deg) translate(-75px, -22px) scaleY(0.86);
  z-index:2;
}

.face {
  height:50px;
  width:50px;
  position:absolute;
  transform-origin: 0 0;
}

@mixin slice($h, $w, $l) {
  .h#{$h}.w#{$w}.l#{$l} {
    z-index: (-#{$h});
    animation-name: h#{$h}w#{$w}l#{$l};
    animation-timing-function: $timingFunction;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    }
  @keyframes h#{$h}w#{$w}l#{$l} {
    0% {
      transform:translate(($w * -50% - 50%) + ($l * 50% + 50%), ($h * 50 - 200%) + ($w * 25% - 25%) + ($l * 25 + 25%));
    } 
    14% {
      transform:translate(($w * -50% - 50%) + ($l * 100% - 50%), ($h * 50 - 200%) + ($w * 25% - 25%) + ($l * 50 - 25%));
    }
    28% {
      transform:translate(($w * -100% + 50%) + ($l * 100% - 50%), ($h * 50 - 200%) + ($w * 50% - 75%) + ($l * 50 - 25%));
    }
    43% {
      transform:translate(($w * -100% - 100%) + ($l * 100% + 100%), ($h * 100 - 400%) + ($w * 50% - 50%) + ($l * 50 + 50%));
    }
    57% {
      transform:translate(($w * -100% - 100%) + ($l * 50% + 200%), ($h * 100 - 400%) + ($w * 50% - 50%) + ($l * 25 + 100%));
    }
    71% {
      transform:translate(($w * -50% - 200%) + ($l * 50% + 200%), ($h * 100 - 375%) + ($w * 25% - 25%) + ($l * 25 + 100%));
    }
    85% {
      transform:translate(($w * -50% - 50%) + ($l * 50% + 50%), ($h * 50 - 200%) + ($w * 25% - 25%) + ($l * 25 + 25%));
    }
    100% {
      transform:translate(($w * -50% - 50%) + ($l * 50% + 50%), ($h * 50 - 200%) + ($w * 25% - 25%) + ($l * 25 + 25%));
    }
  }
}

@mixin generateSlice() {
  @for $i from 1 to 4 {
    @for $j from 1 to 4 {
      @for $k from 1 to 4 {
        @include slice($i, $j, $k);
      }
    }
  }
}

@include generateSlice();

@import "./aniimation.scss";
